# Arquivos de ambiente
.env
.env.*

# IDEs e ferramentas
/.vscode
/.idea
/.phpactor.json
/.phpunit.cache
/.fleet
/.zed

# Cache e logs
*.log
.phpunit.result.cache

# Sistema operacional
.DS_Store
Thumbs.db

# Dependências
/node_modules
/vendor

# Build e public
/public/hot
/public/build
/public/storage
/public/assets
/public/mix-manifest.json

# Storage sensível
/storage/*.key
/storage/pail

# Homestead
Homestead.yaml
Homestead.json

# Arquivos temporários e de backup
*.bak
*.tmp
*.swp
*.zip

# Nova (admin panel Laravel)
.nova
